<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer Prediction (SVM)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Breast Cancer Prediction </h1>
    <form method="POST">
        <label>Mean Radius:</label>
        <input type="number" step="0.01" name="mean_radius" required>

        <label>Mean Texture:</label>
        <input type="number" step="0.01" name="mean_texture" required>

        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <div class="result">
            <h2>Prediction: {{ prediction }}</h2>
        </div>
    {% endif %}
</div>
</body>
</html>
